[submodule "external/pico-sdk"]
	path = external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "external/CRC32"]
	path = external/CRC32
	url = https://github.com/joeinman/CRC32
[submodule "external/FlashKV"]
	path = external/FlashKV
	url = https://github.com/joeinman/FlashKV
